{# templates/page/about.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}À Propos - Mon Portfolio{% endblock %}

{% block body %}
    <h1>À Propos de Moi</h1>
    <p>Présentation de l'artiste.</p>
    {# Ton texte de présentation viendra ici #}
{% endblock %}