{# templates/page/contact.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}À Propos - Mon Portfolio{% endblock %}

{% block body %}
    <h1>Contact</h1>
    <p>Comment me joindre</p>
    {# Ton texte de présentation viendra ici #}
{% endblock %}