{# templates/page/home.html.twig #}
{% extends 'base.html.twig' %} {# Hérite du layout de base #}

{% block title %}Accueil - Mon Portfolio{% endblock %} {# Surcharge le titre #}

{% block body %} {# Remplit le bloc body #}
    <h1>Bienvenue sur mon Portfolio</h1>
    <p>Contenu de la page d'accueil.</p>
    {# C'est ici qu'on mettra la vidéo et le bouton plus tard #}
{% endblock %}