{# templates/page/realisations.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Mes Réalisations - Mon Portfolio{% endblock %}

{% block body %}
    <h1>Mes Réalisations</h1>
    <p>Ici s'affichera la galerie de mes œuvres.</p>
    {# On listera les réalisations ici plus tard #}
{% endblock %}